<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ZZZ</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>SimpleServlet</servlet-name>
    <servlet-class>com.simple.SimpleServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SimpleServlet</servlet-name>
    <url-pattern>/SimpleServlet1</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>Filt</filter-name>
    <filter-class>com.simple.Filt</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>Filt</filter-name>
    <url-pattern>/SimpleServlet1</url-pattern>
  </filter-mapping>
  
  <!-- <servlet>
    <servlet-name>myListener</servlet-name>
    <servlet-class>com.simple.MyListener</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>myListener</servlet-name>
    <url-pattern>/myListener</url-pattern>
  </servlet-mapping> -->
  
  
</web-app>